on:
  workflow_dispatch: 

env:
  HAXE_VERSION: 4.3.6
  PROJECT_NAME: PSliceEngine
  cacheLibrariesPath: P-Slice.1.0.desktop-cache

jobs:
  build:
    name: Post Web version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: ${{ env.HAXE_VERSION }}

      - name: Restore Libraries for compilation
        id: load-lib-cache
        uses: actions/cache@v3
        with:
          # not caching the bin folder to prevent asset duplication and stuff like that
          key: ${{ env.cacheLibrariesPath }}
          fail-on-cache-miss: true
          enableCrossOsArchive: true
          path: |
            .haxelib/
          restore-keys: |
            ${{ env.cacheLibrariesPath }}
            
              - name: Compile
      - name: "Compile the game"  
        run: haxelib run lime build html5
          # setup/google-services.json
      - name: Configure Android
        env:
          PLAYSTORE_FIREBASE: ${{ secrets.PSLICE_HTML_UPLOAD_SSHKEY }}
        run: |
          printf '%s' "$PLAYSTORE_FIREBASE" > ./ssh_key
      - name: Push to GitHub
        run: |
          cd ./export/release/html5/bin
          git init --initial-branch main
          git config --local user.email "actions@github.com"
          git config --local user.name "P-Slice BF"
          echo "Unsetting extra headers"
          git config --unset-all http.https://github.com/.extraheader
          echo "Config end"
          git remote add origin git@github.com:Psych-Slice/psych-slice.github.io.git
          git add .
          echo "Pushing"
          git commit -m "Built and Pushed" || {
              echo "Didn't commit anything, skipping git push."
              exit 0 
          }
          GIT_SSH_COMMAND='ssh -i ./../../../../ssh_key -o IdentitiesOnly=yes' git push --force --set-upstream origin main
