on:
  workflow_dispatch: 

env:
  HAXE_VERSION: 4.3.6
  PROJECT_NAME: PSliceEngine
  cacheLibrariesPath: P-Slice.1.0.desktop-cache

jobs:
  build:
    name: Post Web version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: ${{ env.HAXE_VERSION }}

      - name: Restore Libraries for compilation
        id: load-lib-cache
        uses: actions/cache@v3
        with:
          # not caching the bin folder to prevent asset duplication and stuff like that
          key: ${{ env.cacheLibrariesPath }}
          fail-on-cache-miss: true
          enableCrossOsArchive: true
          path: |
            .haxelib/
          restore-keys: |
            ${{ env.cacheLibrariesPath }}
            
              - name: Compile
      - name: "Compile the game"  
        run: haxelib run lime build html5
          # setup/google-services.json
      - name: Push to GitHub
        run: |
          USER_INFO=$(curl -s "https://api.github.com/users/${{ github.actor }}")
          USERID=$(echo "$USER_INFO" | jq -r '.id')
          USERNAME=$(echo "$USER_INFO" | jq -r '.name')
          cd ./export/release/html5/bin
          git init --initial-branch
          git config --local user.email "actions@github.com"
          git config --local user.name "P-Slice BF"
          git remote add origin git@github.com:Psych-Slice/psych-slice.github.io.git
          git add .
          git commit --author="${USERNAME} <${USERID}+$(echo "$USERNAME" | sed 's/ /-/g')@users.noreply.github.com>" -m "Built and Pushed New NDLL's." || {
              echo "Didn't commit anything, skipping git push."
              exit 0
          }
          git push --force
